#preloader{
    background: #000 url('../images/preloader.gif') no-repeat center center;
    background-size: 300px;
    background-color: black;
    width:100vw;
    height:100vh;
    top: 0;
    position: fixed;
    z-index:99999;
}